header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: yellow; /* Color de fondo amarillo */
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transparent-header {
  background-color: rgba(255, 255, 0, 0.7); /* Amarillo translúcido al hacer scroll */
}

img {
  height: 55px;
}

li {
  cursor: pointer;
  user-select: none; /* Evita la selección de texto */
}

.navbar-light .navbar-nav .nav-link {
  font-weight: bold;
  font-size: 20px;
}

.carritoDiv {
  z-index: 1000;
}

.carrito {
  cursor: pointer;
}

.carrito:hover {
  color: red;
}
