/* Contenedor principal */
.check-out-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 200px;
  max-width: 1200px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Estilo del mapa */
.map-container {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Botón de ubicación */
.find-location-button {
  background-color: #28a745;
  color: white;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.find-location-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

/* Contenedor de la dirección */
.address-container {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: #555;
}

.address-label {
  font-weight: bold;
  font-size: 20px;
}

.address-value {
  font-weight: normal;
  color: #333;
}

/* Estilo del carrito */
.cart-container {
  width: 100%;
  background-color: white;
  display: flex;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
}

.cart-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  cursor:unset;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.3s ease;
}

.cart-item:hover {
  background-color: #f9f9f9;
}

.cart-item-name {
  font-weight: bold;
  font-size: 16px;
  color: #007bff;
  flex: 2;
}

.cart-item-info {
  font-size: 14px;
  color: #666;
  flex: 1;
  text-align: center;
}

.cart-item-price {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  flex: 1;
  text-align: right;
}

.cart-total {
  margin-top: 20px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

/* Formulario del pedido */
.pedido-form-container {
  width: 50%;
}

.pedido-form__field {
  margin-bottom: 20px;
  text-align: center;
}

.pedido-form__label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
  display: block;
}

.pedido-form__input,
.pedido-form__textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #e0e0e0;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  color: black;
}

.pedido-form__input:focus,
.pedido-form__textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.pedido-form__submit {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.pedido-form__submit:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Radio buttons */
.pedido-form__radio-group {
  display: flex;
  gap: 40px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.pedido-form__radio-label {
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;

}

.pedido-form__radio-text {
  margin-left: 5px;
}

/* Estilo de animación para el carrito */
.compras {
  width: 100%;
  max-width: 600px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.compras:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Eliminar las flechas en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}