header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: yellow; /* Color de fondo amarillo */
  transition: background-color 0.3s ease;
}

.transparent-header {
  background-color: rgba(255, 255, 0, 0.7); /* Amarillo translúcido al hacer scroll */
}
.divPedir {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo normal para el botón */
.divPedir {
  position: relative;
  margin-top: 100px;
  text-align: center;
}

/* Estilo fijo cuando se hace scroll */
.fixed-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.botonPedir {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Parpadeo al añadir un producto */
.parpadeo {
  animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

img {
  height: 55px;
}

li {
  cursor: pointer;
  user-select: none; /* Evita la selección de texto */
}

.navbar-light .navbar-nav .nav-link {
  font-weight: bold;
  font-size: 20px;
}

.carritoDiv {
  z-index: 1000;
}

.carrito {
  cursor: pointer;
}

.carrito:hover {
  color: red;
}
.large-link {
  font-size: 1.5rem; /* Aumenta el tamaño de la fuente */
  font-weight: bold;
  padding: 15px 20px; /* Ajusta el espacio interno */
  text-transform: uppercase;
  color: inherit; /* Mantiene el color del tema */
  text-decoration: none; /* Elimina el subrayado */
  border: 2px solid transparent; /* Agrega un borde inicial transparente */
  border-radius: 8px; /* Bordes redondeados */
  margin: 0 10px; /* Espaciado horizontal entre enlaces */
  transition: all 0.3s ease; /* Efecto suave en hover */
}

.large-link:hover {
  color: #ffffff;
  background-color: #007bff;
  border: 2px solid #007bff;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 20px; 
}

